<div class="container">

    <form class="form-signin" ng-submit="$ctrl.logIn(user)">
        <!--<div>-->
        <!--<button ui-sref="app.main.registration">Registration</button>-->
        <!--<button ui-sref="app.main.sign-in">Sign in</button>-->
        <!--</div>-->

        <h2 class="form-signin-heading">Please sign in</h2>

        <div class="input-container clearfix">
            <label for="inputName" class="sr-only">User name</label>
            <input type="text" id="inputName" class="form-control" placeholder="User name" required="" autofocus=""
                   ng-model="user.name">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""
                   ng-model="user.password">
        </div>
        <div class="button-container clearfix">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <a class="btn btn-lg btn-primary btn-block" ui-sref="app.main.registration">Register now</a>
        </div>
    </form>
</div>